<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-auto">
     <a class="btn btn-primary" routerLink="/merchandise">
        <i class="fa solid fa-backward"></i> Listado de mercancia
     </a> 
    </div>
</div>

<div class="d-flex justify-content-center align-items-center">
  <div class="card text-dark my-4" [ngStyle]="{'width': '1000px'}">

<div class="card-body">
<form class="row g-3" [formGroup]="form" (ngSubmit)="create()">
  <div class="col-md-6">
    <label for="name" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="name" formControlName="name" required>
    <div *ngIf="fieldValidator('name')" class="mt-1">
      <p class="text-danger">* {{ getError('name') }}</p>
   </div>
  </div>
  <div class="col-md-6">
    <label for="amount" class="form-label">Cantidad</label>
    <input type="number" min="0" inputmode="numeric" step="1" class="form-control" formControlName="amount" required>
    <div *ngIf="fieldValidator('amount')" class="mt-1">
      <p class="text-danger">* {{ getError('amount') }}</p>
   </div>
  </div>
  <div class="col-md-12">
    <label for="dateEntry" class="form-label">Fecha de ingreso</label>
    <input type="date" class="form-control" formControlName="dateEntry" required>
    <div *ngIf="fieldValidator('dateEntry')" class="mt-1">
      <p class="text-danger">* {{ getError('dateEntry') }}</p>
   </div>
  </div>

  <div class="col-12 text-center mt-5">
    <input class="btn btn-primary" type="submit" value="Crear" [disabled]="!form.valid"/>
  </div>
</form>
    </div>
 </div>
</div>
</div>
